@tailwind base;
@tailwind components;
@tailwind utilities;

.campos-container {
  height: 100vh;
  width: 25vw;
  overflow: auto;
}

.mapa-container {
  height: 100vh;
  width: 75vw;
}

.leaflet-container {
  height: 100vh;
  width: 75vw;
}